@import "tailwindcss";
@import "./archivo.css";

:root {
  font-family: 'Archivo-Variable', system-ui, sans-serif;
  line-height: 1.5;

}

a {
  text-decoration: none;
}

/* Animation pour le soleil */